@tailwind base;
@tailwind components;
@tailwind utilities;

/**
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
**/
@font-face {
  font-family: "AgencyFB";
  src: url("../public/agency_fb.ttf") format("woff2");
}

@layer utilities {
  .font-agency-fb {
    font-family: "AgencyFB", sans-serif;
  }
}

body {
  background-color: #2f445d;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45));
  z-index: -1; 
}


